html {
    font-size: 100px;
}

body {
    margin: 0;
}

p, h1, h2, h3, span, input, li, a {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 48px;
    text-align: center;
}

p {
    font-size: 20px;
}

.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: 1s ease-in all;
}

button {
    padding: 20px 40px;
    transition: 0.1s ease-in all;
}

.main-header {
    background-image: linear-gradient(#15A1F8, #065B9A);
    width: 100vw;
    border-radius: 0px 0px 40% 40%;
    padding: 50px 0px 20px 0px;
    display: flex;
    min-height: 200px;
    flex-direction: column;
}

.ten-week {
    color: #097AC1;
    font-weight: 700;
    font-size: 172px;
}

.title {
    color: #fff;
    display:flex;
    flex-direction: column;
    text-align:left;
    font-size: 35px;
    margin-top:-20px;
    align-self: center;
    margin-top: 20px;
    text-align: center;
}

.time-left {
    color: #fff;
    text-align: center;
    font-weight: 100;
    display: none;
}

.start, .stop {
    border-radius: 10px;
}

.start {
    color: #096db2;
    background-color: #fff;
    border: 1px solid #096db2;
}

.start:hover {
    color: #fff;
    background-color: #096db2;
    cursor: pointer;
}

.stop {
    color: red;
    background-color: #fff;
    border: 1px solid red;
}

.stop:hover {
    color: #fff;
    background-color: red;
    cursor: pointer;
}

.stop:disabled,
.start:disabled {
    cursor: default;
    background: #cdcdcd;
    color: #FFF;
    border: 0;
}

.week {
    background: #fff;
    color: #C6C6C6;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    font-size: 20px;
    font-weight: 300;
    border: none;
    box-shadow: 1px 2px 8px 0px #dedede;
    min-width: 140px;
    min-height: 140px;
    align-items: center;
}

.week-number {
    font-weight: 700;
    font-size: 60px;
    color: #0E4D8B;
    align-self: center;
}

.weeks {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -110px;
    z-index: 2;
}

#controls {
    display: none;
}

.container {
    padding: 50px;
    background: #fff;
    flex-shrink: 0;
    flex-direction: column;
    display: flex;
    width: 40%;
    align-self: center;
    border-radius: 18px;
    border: none;
    box-shadow: 1px 2px 8px 0px rgba(0,0,0,0.18);
    margin-top: 30px;
}


.time, .mode {
    color: #1F5AAC;
}

.time {
    font-size: 103px;
    display: flex;
    justify-content: center;
}

.mode {
    font-size: 50px;
    font-weight: 300;
}

@media (max-width: 620px) {
    .time {
        font-size: 70px;
    }
}